#!/bin/bash

# Stop backup execution of this backup
BACKUP=1

# !#Host#! config
SERVER="!#IPadress#!"
PORT="!#Port#!"
USER="!#User#!"

# Backup method, Types:
# - rsync
# - tar
# - share
TYPE="rsync"
SHARE="/"
roption=(
    -aAXvP
    --exclude={"/dev/*","/proc/*","/sys/*","/home/*","/tmp/*","/run/*","/mnt/*","/media/*","/lost+found"}
    --delete
)

# Maximum backup config
BDAYS="1"
BWEEKS="1"
BMONTHS="1"

# You can add additional commands here
# Declare the whole command in a single array
rsyncadd[0]="echo 'No additional rsync command'"
## rsyncadd[0]="rsync -aAXvP --exclude='*.git' -e 'ssh -p $PORT' ${USER}@${SERVER}:/media/data/ /media/backupdir/"

# Don't change this variable. Encryption is done by tools/add_host.sh
# If you want to encrypt this backup you have the recreate it first
# with `bash tools/add_host.sh --encrypted`
ENCRYPTED=0

# Rsync by default on local copies will just copy the whole file,
# but to reduce network traffic remote syncs are diff'd which greatly
# increases the CPU load.
WHOLEFILE=0
