# Ignore everything
*

# But not these files...
!.gitignore
!main.sh
!SBE_data
!SBE_data/main.sh
!SBE_data/status.sh
!SBE_data/create_bac.sh
!SBE_data/dist2server.sh
!LICENSE
!README.md
!docker-compose.yml
!msmtprc.example
!SBE_docker
!SBE_docker/Dockerfile
# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
!SBE_data/tools
!SBE_data/tools/*
!SBE_data/tools/lib
!SBE_data/tools/lib/*
