# Project name if multiple instances on one server
COMPOSE_PROJECT_NAME=sbe_

# Used as cotainer name sbe.your.domain
domain=your.domain

# Share your ssh keys with docker container
sshdir=/root/.ssh

# Report files will be stored here inside the container
reports=/var/SBE/reports

# Backup directory where backup_settings.sh backups the settings inside the container
sbdir=/var/SBE/settings

# Report send to
mail=admin

# System location of grep
grep=/bin/grep

# System location of sendmail
sendmail=/usr/sbin/sendmail

# Max backups done at same time
MBAST=2 

# Subnet definition 172.23.X.0
SUBNET=1
