#!/bin/bash

BACKUP=1
# !#Host#! config
SERVER="!#IPadress#!"
PORT="!#Port#!"
USER="!#User#!"
# Backup method
TYPE="rsync"
SHARE="/"
roption=(
    -aAXvP
    --exclude={"/dev/*","/proc/*","/sys/*","/home/*","/tmp/*","/run/*","/mnt/*","/media/*","/lost+found"}
    --delete
)
# config
BDAYS="3"
BWEEKS="2"

# You can add additional commands here
# Declare the whole command in a single array
rsyncadd[0]="echo 'No additional rsync command'"
## rsyncadd[0]="rsync -aAXvP --exclude='*.git' -e 'ssh -p $PORT' ${USER}@${SERVER}:/media/data/ /media/backupdir/"

# if mySql
mysqlIF="!#mysqlIF#!"
MBDAYS="21"
MBWEEKS="7"
# fi mySql
